<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title><%= title %></title>
</head>
<body>
  <nav>
    <% if (user) { %>
      <!-- the active class is for CSS styling. Get back and style later   -->
      <a href="/breweries" <%- title === 'All Breweries' ? 'class="active"' : '' %>>ALL BREWERIES</a>  
        <a href="/breweries/new" <%- title === 'Add Brewery' ? 'class="active"' : '' %>>ADD BREWERY</a>
        <a href="/logout">LOG OUT</a>
        <span><%= user.name %></span>
        <img src="<%= user.avatar %>" id="user-avatar" referrerpolicy="no-referrer">
    <% } else { %>
        <a href="/auth/google" class="login">LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
    <% } %>
  </nav>
  <h1><%= title %></h1>